*.db
appsettings.json

Core/.vscode

Core/API/obj
Core/API/bin
Core/API/wwwroot
Core/Application/obj
Core/Application/bin
Core/Domain/obj
Core/Domain/bin
Core/Infrastructure/obj
Core/Infrastructure/bin
Core/Persistence/obj
Core/Persistence/bin
Core/publish

client-app/node_modules
client-app/.pnp
client.app/.pnp.js
client-app/.idea
client-app/dist
client-app/debug.log
client-app/.eslintcache
client-app/coverage
client-app/build
client-app/.idea
client-app/.DS_Store
client-app/.env.local
client-app/.env.test.local
client-app/.env.development.local
client-app/.env.production.local
client-app/npm-debug.log*
client-app/yarn-debug.log*
client-app/yarn-error.log*